# Import Required Libraries
Import the necessary libraries, including pandas and scikit-learn.

In [2]:
# Import Required Libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from IPython.display import Markdown
import numpy as np

# Load Dataset
Load the dataset into a pandas DataFrame.

In [4]:
# Load Dataset
file_path = "C:/Users/saina/OneDrive/Desktop/ele-int/complete_dataset.csv"  # Replace with your dataset file path
df = pd.read_csv(file_path)  # Load the dataset into a pandas DataFrame

# Display the first few rows of the DataFrame
df.head()

,date,demand,RRP,demand_pos_RRP,RRP_positive,demand_neg_RRP,RRP_negative,frac_at_neg_RRP,min_temperature,max_temperature,solar_exposure,rainfall,school_day,holiday
0,2015-01-01,99635.030,25.633696,97319.240,26.415953,2315.790,-7.240000,0.020833,13.3,26.9,23.6,0.0,N,Y
1,2015-01-02,129606.010,33.138988,121082.015,38.837661,8523.995,-47.809777,0.062500,15.4,38.8,26.8,0.0,N,N
2,2015-01-03,142300.540,34.564855,142300.540,34.564855,0.000,0.000000,0.000000,20.0,38.2,26.5,0.0,N,N
3,2015-01-04,104330.715,25.005560,104330.715,25.005560,0.000,0.000000,0.000000,16.3,21.4,25.2,4.2,N,N
4,2015-01-05,118132.200,26.724176,118132.200,26.724176,0.000,0.000000,0.000000,15.0,22.0,30.7,0.0,N,N

# Handle Missing Values
Identify and handle missing values in the dataset using techniques such as imputation or removal.

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Load Dataset
file_path = "C:/Users/saina/OneDrive/Desktop/ele-int/complete_dataset.csv"
df = pd.read_csv(file_path)

# Handle Missing Values

# Check for missing values in the dataset
missing_values = df.isnull().sum()
print("Missing values in each column:\n", missing_values)

df_cleaned = df.fillna(method='ffill').fillna(method='bfill')  # Forward & Backward Fill

# Option 2: Impute missing values
# For numerical columns, fill missing values with the mean
df_imputed = df.copy()
numeric_columns = df.select_dtypes(include=['number']).columns
df_imputed[numeric_columns] = df[numeric_columns].fillna(df[numeric_columns].mean())

# For categorical columns, fill missing values with the mode
categorical_columns = df.select_dtypes(include=['object']).columns
for column in categorical_columns:
    df_imputed[column].fillna(df_imputed[column].mode()[0], inplace=True)

# Encode Categorical Variables

# Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Apply Label Encoding to categorical columns
for column in df_imputed.select_dtypes(include=['object']).columns:
    df_imputed[column] = label_encoder.fit_transform(df_imputed[column])

# Display the first few rows of the cleaned DataFrame
print("Cleaned DataFrame:")
print(df_cleaned.head())

# Display the first few rows of the imputed DataFrame
print("Imputed DataFrame:")
print(df_imputed.head())

Missing values in each column:
 date               0
demand             0
RRP                0
demand_pos_RRP     0
RRP_positive       0
demand_neg_RRP     0
RRP_negative       0
frac_at_neg_RRP    0
min_temperature    0
max_temperature    0
solar_exposure     1
rainfall           3
school_day         0
holiday            0
dtype: int64
Cleaned DataFrame:
         date      demand        RRP  demand_pos_RRP  RRP_positive  \
0  2015-01-01   99635.030  25.633696       97319.240     26.415953
1  2015-01-02  129606.010  33.138988      121082.015     38.837661
2  2015-01-03  142300.540  34.564855      142300.540     34.564855
3  2015-01-04  104330.715  25.005560      104330.715     25.005560
4  2015-01-05  118132.200  26.724176      118132.200     26.724176

   demand_neg_RRP  RRP_negative  frac_at_neg_RRP  min_temperature  \
0        2315.790     -7.240000         0.020833             13.3
1        8523.995    -47.809777         0.062500             15.4
2           0.000      0.000000         0.000000             20.0
3           0.000      0.000000         0.000000             16.3
4           0.000      0.000000         0.000000             15.0

   max_temperature  solar_exposure  rainfall school_day holiday
0             26.9            23.6       0.0          N       Y
1             38.8            26.8       0.0          N       N
2             38.2            26.5       0.0          N       N
3             21.4            25.2       4.2          N       N
4             22.0            30.7       0.0          N       N
Imputed DataFrame:
   date      demand        RRP  demand_pos_RRP  RRP_positive  demand_neg_RRP  \
0     0   99635.030  25.633696       97319.240     26.415953        2315.790
1     1  129606.010  33.138988      121082.015     38.837661        8523.995
2     2  142300.540  34.564855      142300.540     34.564855           0.000
3     3  104330.715  25.005560      104330.715     25.005560           0.000
4     4  118132.200  26.724176      118132.200     26.724176           0.000

   RRP_negative  frac_at_neg_RRP  min_temperature  max_temperature  \
0     -7.240000         0.020833             13.3             26.9
1    -47.809777         0.062500             15.4             38.8
2      0.000000         0.000000             20.0             38.2
3      0.000000         0.000000             16.3             21.4
4      0.000000         0.000000             15.0             22.0

   solar_exposure  rainfall  school_day  holiday
0            23.6       0.0           0        1
1            26.8       0.0           0        0
2            26.5       0.0           0        0
3            25.2       4.2           0        0
4            30.7       0.0           0        0

C:\Users\saina\AppData\Local\Temp\ipykernel_15220\61196885.py:14: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_cleaned = df.fillna(method='ffill').fillna(method='bfill')  # Forward & Backward Fill
C:\Users\saina\AppData\Local\Temp\ipykernel_15220\61196885.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_imputed[column].fillna(df_imputed[column].mode()[0], inplace=True)