In [10]:
import pandas as pd
df=pd.read_csv('complete_dataset.csv')

# Missing values

In [11]:
missing_values=df.isnull().sum().sum() #count
print('missing values:', missing_values)
cols_having_missing_values=df.columns[df.isnull().any()].tolist()#names
print('cols having those missing values:',cols_having_missing_values)

missing values: 4
cols having those missing values: ['solar_exposure', 'rainfall']

# Object types

In [12]:
object_cols=df.select_dtypes(include='object').columns.tolist()
print('columns having object datatype:',object_cols)

columns having object datatype: ['date', 'school_day', 'holiday']

# Date --> Datetime

In [13]:
df['date']=pd.to_datetime(df['date'],errors='coerce')

# One hot encoding

In [14]:
df = pd.get_dummies(df, columns=['school_day', 'holiday'], dtype=int)

# Simple imputer for missing values..

In [15]:
from sklearn.impute import SimpleImputer

In [16]:
imputer = SimpleImputer(strategy='mean')
df[cols_having_missing_values] = imputer.fit_transform(df[cols_having_missing_values])

In [17]:
df.to_csv('processed_dataset.csv', index=False)

# Dataset after cleaning

In [21]:
df1['date']=pd.to_datetime(df1['date'],errors='coerce')
import pandas as pd
df1=pd.read_csv('processed_dataset.csv')
missing_values=df1.isnull().sum().sum() #count
print('missing values:', missing_values)

object_cols=df1.select_dtypes(include='object').columns.tolist()
print('columns having object datatype:',object_cols)

missing values: 0
columns having object datatype: ['date']

In [19]:
df1.describe()

,demand,RRP,demand_pos_RRP,RRP_positive,demand_neg_RRP,RRP_negative,frac_at_neg_RRP,min_temperature,max_temperature,solar_exposure,rainfall,school_day_N,school_day_Y,holiday_N,holiday_Y
count,2106.000000,2106.000000,2106.000000,2106.000000,2106.000000,2106.000000,2106.000000,2106.000000,2106.000000,2106.000000,2106.000000,2106.000000,2106.000000,2106.000000,2106.000000
mean,120035.476503,76.079554,119252.305055,76.553847,783.171448,-2.686052,0.008547,11.582289,20.413200,14.743373,1.505944,0.310066,0.689934,0.963438,0.036562
std,13747.993761,130.246805,14818.631319,130.114184,3578.920686,19.485432,0.039963,4.313711,6.288693,7.943640,4.304827,0.462630,0.462630,0.187729,0.187729
min,85094.375000,-6.076028,41988.240000,13.568986,0.000000,-342.220000,0.000000,0.600000,9.000000,0.700000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,109963.650000,38.707040,109246.250000,39.117361,0.000000,0.000000,0.000000,8.500000,15.525000,8.200000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,119585.912500,66.596738,119148.082500,66.869058,0.000000,0.000000,0.000000,11.300000,19.100000,12.750000,0.000000,0.000000,1.000000,1.000000,0.000000
75%,130436.006250,95.075012,130119.477500,95.130181,0.000000,0.000000,0.000000,14.600000,23.900000,20.700000,0.800000,1.000000,1.000000,1.000000,0.000000
max,170653.840000,4549.645105,170653.840000,4549.645105,57597.595000,0.000000,0.625000,28.000000,43.500000,33.300000,54.600000,1.000000,1.000000,1.000000,1.000000

In [20]:
from statsmodels.tsa.stattools import adfuller
demand_series = df1["demand"]
adf_stat, adf_p_value, _, _, _, _ = adfuller(demand_series)
print(f"ADF Test Statistic: {adf_stat}")
print(f"p-value: {adf_p_value}")
if adf_p_value < 0.05:
    print("The series is likely stationary.")
else:
    print("The series is likely non-stationary.")

ADF Test Statistic: -3.9534474821262524
p-value: 0.0016748806784636257
The series is likely stationary.